body {
    margin: 0;
}
#container {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

#container ul li {
    padding: 50px;
    text-decoration: none;
    overflow: hidden;
    background-color: darkkhaki;
    font-size: xx-large;
    font-weight: bolder;
    border-style: solid;
    border-width: 5px 5px 1px 5px;
}

#container ul li a {
    display: block;
    text-decoration: none;
    color: black;
}

#container ul li:hover {
    background-color: rgb(144, 140, 82);
}

table {
    background-color: beige;
    width: 100%;
    text-align: center;
}

th {
    background-color: rgb(215, 215, 193);
}

#edtBtn {
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 15px 32px;
    background-color:rgb(139, 139, 125);
    border-radius: 5px;
}

#delBtn {
    text-align: center;
    text-decoration: none; 
    border: none;
    padding: 15px 32px;
    background-color: rgb(221, 57, 57);
    color: rgb(246, 232, 232);
    border-radius: 5px;
}


#navbar ul {
    list-style-type: none;
    background-color: darkkhaki;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#navbar ul li {
    float: left;
    margin-left: 25%;
    background-color: rgb(147, 143, 84);
    border-style: solid;
    margin-top: 1em;
    margin-bottom: 1em;
}

#navbar ul li a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    color: black;
}

#navbar ul li:hover {
    background-color: rgb(158, 154, 90);
}